.card {
  align-items: center;
  background-color: var(--branco);
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1.8em;
  width: 350px;
  & form {
    width: 100%;
  }
}

.title {
  margin-bottom: 1em;
}

.container-input {
  width: 100%;
}

.link {
  color: black;
  font-size: 0.8em;
  padding: 1.25em;
  text-decoration: none;
}

.button_login,
.button_register {
  border: none;
  border-radius: 0.3em;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.5em 0;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
  width: 100%;
}

.button_login {
  background-color: var(--azul);
}

.button_login:hover {
  background-color: #4d79cb;
}

.button_register {
  background-color: var(--verde);
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.button_register:hover {
  background-color: #85b33b;
}

.button_google {
  background-color: var(--cinza-medio);
  background-image: url('../../../assets/img/google.png');
  background-position: 0.5em;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0.3em;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.5em 0.8em;
  margin-top: 0.6em;
  text-align: end;
  transition: all 0.1s ease-in-out;
  width: 100%;
}

.button_google:hover {
  background-color: #a2a2a2;
}
