.card {
  align-items: center;
  background-color: var(--branco);
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1.8em;
  width: 450px;
  & form {
    width: 100%;
  }
}

.title {
  margin-bottom: 1em;
}

.container {
  background-color: var(--cinza);
  border-radius: 3px;
  padding: 1em 1em 0;
  width: 100%;
}

.container-input {
  width: 100%;
  & input {
    font-size: 0.9em;
  }
}

.container_checkbox {
  padding-top: 0.5em;
}

.checkbox_label {
  font-size: 0.8em;
  text-transform: uppercase;
}

.link {
  color: black;
  font-size: 0.8em;
  padding: 1.25em;
  text-decoration: none;
}

.button_share {
  background-color: var(--verde);
  border: none;
  border-radius: 0.3em;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  margin: 1em 0 0;
  padding: 0.5em;
  transition: all 0.1s ease-in-out;
  width: 35%;
}

.button_share:hover {
  background-color: #85b33b;
}

.close {
  color: black;
  cursor: pointer;
  font-size: 2em;
  margin-left: 0.3em;
}

.container_names {
  font-size: 0.9em;
  & .title {
    font-weight: 500;
    margin: 1em 0 0;
  }
}

.button_share img {
  height: 20px;
  max-width: 20px;
}

.error {
  font-size: 0.7em;
  color: var(--vermelho);
}

p {
  margin-bottom: 0;
}
