.nav{
    width: 100%;
    height: 18vh;
}

.barra-nav{
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255);
    padding: .2%;
    box-shadow: 0px 5px 5px #ebebeb;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container{
    width: 12.8%;
    padding-left: 0.2%;
}

#logo{
    width: 100%;
}

.user-bell-conteiner{
    padding-right: 1%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a{
    margin: 0 !important;
}
.bell{
    width: 0%;
    display: flex;
    justify-content: flex-end;
    padding: 2% 1% 0% 0%;
    align-content: flex-end;
    align-items: flex-end;
}

.user{
    width: 100%;
    padding: 1%;
}

.user-conteiner{
    width: 100%;
    display: flex;
    justify-content: flex-end
}

.nav-item.dropdown{
    width: 4%;
    display: flex;
    justify-content: flex-end;
}

.button-ch{
    width: 100%;
    display: flex;
    padding: 2% 1% 2% 64%;
}

.btn.btn-outline-primary{
    width: 100%;
    margin: 5%;
    color: #5686e1;
    font-weight: bold;
}