.task {
  display: flex;
  width: 100%;
  height: 5vh;
  border-radius: 5px;
  background-color: var(--cinza);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  & span {
    font-size: 1em;
  }
}

.importance {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.green {
  background-color: var(--verde);
}
.yellow {
  background-color: var(--amarelo);
}
.red {
  background-color: var(--vermelho);
}
