.modalcard {
  display: flex;
  flex-direction: column;
  padding: 1.8em;
  width: 100%;
}

.descricaotitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 1em;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button_save {
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1em;
  padding: 0.5em 0;
  border-radius: 0.3em;
  transition: all 0.1s ease-in-out;
  background-color: var(--verde);
  width: 47%;
  margin-top: 1em;
}

.button_save:hover {
  background-color: #85b33b;
}

.form-desc-textarea{
  resize: none;
}
