.card {
  align-items: center;
  background-color: var(--branco);
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1.8em;
  width: 450px;
  & form {
    width: 100%;
  }
}

.title {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;
}

.container {
  background-color: var(--cinza);
  border-radius: 3px;
  padding: 1em 1em 0;
  width: 100%;
}

.button_invite {
  background-color: var(--verde);
  border: none;
  border-radius: 0.3em;
  color: white;
  font-weight: 500;
  font-size: 0.9em;
  margin: 1em 0 0;
  padding: 0.5em 1em;
  transition: all 0.1s ease-in-out;
}

.button_invite:hover {
  background-color: #85b33b;
}

.close {
  color: black;
  cursor: pointer;
  font-size: 2em;
  margin-left: 0.3em;
}

.names {
  font-size: 0.9em;
  margin: 1em 0 0;
}

p {
  margin: 0;
}
