.card {
  border-radius: 10px;
  width: 350px;
  background-color: var(--branco);
  border: none;
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.1);
  padding: 1.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 1em;
}

.text {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.container_input {
  width: 100%;
  margin-bottom: 0;
}

.button_send {
  border: none;
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9em;
  padding: 0.5em 0;
  max-height: 35px;
  border-radius: 0.3em;
  transition: all 0.1s ease-in-out;
  background-color: var(--azul);
  margin-top: 0.5em;
}

.button_send img {
  height: 20px;
  max-width: 20px;
  margin-bottom: 0;
}

.button_send:hover {
  background-color: #4d79cb;
}

.error {
  font-size: 0.7em;
  color: var(--vermelho);
}
