* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --branco: #FFFFFF;
  --cinza: #F1F1F1;
  --cinza-medio: #B7B7B7;
  --azul: #5686E1;
  --verde: #91C141;
  --vermelho: #CF1B1B;
  --amarelo: #F9CC2E;
}
  