body {
  background-color: var(--cinza);
  overflow-x: scroll;
}

.container {
  display: flex;
  max-width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 2em;
  margin: 2em 0 0 2em;
}

.add_column {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25%;
  height: 10vh;
  cursor: pointer;
  border: 2px dashed black;
  border-radius: 10px;
  & span {
    font-size: 1em;
  }
}


