.card {
  border-radius: 10px;
  width: 350px;
  background-color: var(--branco);
  border: none;
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.1);
  padding: 1.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  & form {
    width: 100%;
  }
}

.title {
  margin-bottom: 1em;
}

.text {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.container-input {
  width: 100%;
}

.button_login {
  border: none;
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9em;
  padding: 0.5em 0;
  border-radius: 0.3em;
  transition: all 0.1s ease-in-out;
  background-color: var(--azul);
}

.button_login:hover {
  background-color: #4d79cb;
}

.link {
  font-size: 0.8em;
  text-decoration: none;
  color: black;
  padding-top: 1.25em;
}
